<div class="tab-content">
    <div class="tab-pane fade show active" id="th">
        <div class="row">

            {% if books %}
                {% for result in books %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <!-- single-product-start -->
                        <div class="product-wrapper mb-40">
                            <div class="product-img">
                                <a href="javascript:void(0)">
                                    <img src="/static/images/product/{{ result.coverImage }}" alt="book" class="primary">
                                </a>
                                <div class="quick-view">
                                    <a class="action-view" href="javascript:void(0)" data-target="#productModal" data-toggle="modal" title="Quick View">
                                        <i class="fa fa-search-plus"></i>
                                    </a>
                                </div>
                                <div class="product-flag">
                                    <ul>
                                        <li><span class="sale">new</span></li>
                                        <li><span class="discount-percentage">-5%</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-details text-center">
                                <div class="product-rating">
                                    <ul>
                                        <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                    </ul>
                                </div>
                                <h4><a href="javascript:void(0)">{{ result.name }}</a></h4>
                                <div class="product-price">
                                    <ul>
                                        <li>${{ result.price }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-link">
                                <div class="product-button">
                                    <a href="javascript:void(0)" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </div>
                                <div class="add-to-link">
                                    <ul>
                                        <li><a href="javascript:void(0)" title="Details"><i class="fa fa-external-link"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- single-product-end -->
                    </div>
                {% endfor %}

            {% else %}
                <h3>Data not found</h3>
            {% endif %}

        </div>
    </div>
    <div class="tab-pane fade" id="list">
        {% if books %}
            {% for result in books %}
                <!-- single-shop-start -->
                <div class="single-shop mb-30">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="product-wrapper-2">
                                <div class="product-img">
                                    <a href="javascript:void(0)">
                                        <img src="/static/images/product/{{ result.coverImage }}" alt="book" class="primary">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-12">
                            <div class="product-wrapper-content">
                                <div class="product-details">
                                    <div class="product-rating">
                                        <ul>
                                            <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                        </ul>
                                    </div>
                                    <h4><a href="javascript:void(0)">{{ result.name }}</a></h4>
                                    <div class="product-price">
                                        <ul>
                                            <li>${{ result.price }}</li>
                                        </ul>
                                    </div>
                                    <p>{{ result.description }} </p>
                                </div>
                                <div class="product-link">
                                    <div class="product-button">
                                        <a href="javascript:void(0)" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                    <div class="add-to-link">
                                        <ul>
                                            <li><a href="javascript:void(0)" title="Details"><i class="fa fa-external-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single-shop-end -->
            {% endfor %}
        {% else %}
            <h3>Data not found</h3>
        {% endif %}

    </div>
</div>