<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <title> Bookbuy </title>
  
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
  
<body>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="/static/js/cart.js"></script>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">G19 Bookstore </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link" href="{% url 'homepage:the_homepage' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile <span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">   
                <a class="btn btn-success btn-sm ml-3" href="{%  url 'shopping_cart:cart' %}">
                    <i class="fa fa-shopping-cart"></i> Cart
                    <span class="badge badge-light">4</span>
                </a>
            </form>
        </div>
    </div>
  </nav>

  <section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">YOUR CART</h1>
     </div>
  </section>

  <div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Book title</th>
                            <th scope="col">Availability</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Price</th>
                            <th> </th>
                        </tr>
                        {% for item in order.get_cart_items %}
                          <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                              {{ item.product.name }}
                              <span class="pull-right">
                                <a href="{% url 'shopping_cart:delete_item' item.id %}" 
                                data-balloon="remove this item from cart" class="text-danger" 
                                onclick="return confirm_delete();">
                                  <i class="fas fa-trash"></i>
                                </a>
                              </span>
                            </td>
                            <td>{{ item.product.price }}</td>
                          </tr>
                        {% empty %}
                          <tr>
                            <td colspan= 3> Your cart is empty. </td>
                          </tr>
                        {% endfor %}

                        <tr>
                          {% if order.get_cart_total != None %}
                          <td colspan=2>
                            <strong class="pull-right">Order Total:</strong>
                          </td>
                        
                          <td colspan= 1>
                            $<strong>{{ order.get_cart_total }}</strong>
                          </td>

                          {% endif %}
                        </tr>
                      <tr>
                        <td colspan=1 >
                          <a href="{% url 'homepage:the_homepage'  %}" class="btn btn-warning pull-left">
                            {% if order %}Continue Shopping{% else %}Continue Shopping {% endif %}
                          </a> 
                        </td>
                        <td colspan=2>
                          {% if order.get_cart_items %}
                            <a href="{% url 'shopping_cart:cart' %}" class="pull-right btn btn-primary">Proceed To Checkout</a>
                          {% endif %}
                        </td>
                      </tr>
                </table>
      
    </div>
  </section>
</body>


{% block scripts %}
  <script>
  function confirm_delete(){
    return confirm("Do you want to remove this item from cart?");
  }
  </script>
{% endblock scripts %}