<header>
    <!-- header-top-area-start -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">G19 Bookstore </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div></div>

            <div class="row" style="position:absolute; right:1050px; top:0px;">                                  
                <div class="header-search">
                    <form action="{% url 'book_browsing:search' %}" method="get">
                        <input type="text" name="q" placeholder="Search entire store here..." value="{{ query }}">
                        <button type="submit" class="search-btn"><i class='fa fa-search'></i></button>
                    </form>
                </div>                                            
            </div>
           
            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item m-auto">
                        <a class="nav-link" href="{% url 'book_browsing:home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
    
                <form class="form-inline my-2 my-lg-0">   
                    <a class="btn btn-success btn-sm ml-3" href="{%  url 'shopping_cart:order_summary' %}">
                        <i class="fa fa-shopping-cart"></i> Cart
                        <span class="badge badge-light"></span>
                    </a>
                </form>
            </div>
        </div>
      </nav>
    <!-- header-top-area-end -->

    <!-- header-mid-area-start -->
    <!-- header-mid-area-end -->

    <!-- main-menu-area-start -->
    <div class="main-menu-area d-md-none d-none d-lg-block sticky-header-1" id="header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="menu-area">
                        <nav>
                            <ul>
                                <li class="active"><a href="{% url 'book_browsing:home' %}">Home<i class="fa fa-angle-down"></i></a>
                                    <div class="sub-menu">
                                        <ul>
                                            <li><a href="{% url 'book_browsing:about' %}">About Us</a></li>
                                            <li><a href="{% url 'book_browsing:contact' %}">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="javascript:void(0);">Book</a>
                                    <div class="sub-menu">
                                        <ul>
                                            <li><a href="{% url 'book_browsing:new-release' %}">New Release</a></li>
                                            <li><a href="{% url 'book_browsing:top-sellers' %}">Top Sellers</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="javascript:void(0)" class="book-list" id="book" data-target="productBook">Search by Genre</a>
                                    <div class="sub-menu">
                                        <ul>
                                            <li><a href="{% url 'book_browsing:fantacy' %}">Fantacy</a></li>
                                            <li><a href="{% url 'book_browsing:romance' %}">Romance</a></li>
                                            <li><a href="{% url 'book_browsing:fiction' %}">Fiction</a></li>
                                            <li><a href="{% url 'book_browsing:history' %}">History</a></li>
                                            <li><a href="{% url 'book_browsing:thriller' %}">Thriller</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="javascript:void(0)" class="book-list audio-books" id="book" data-target="productBook">Audio books</a></li>
                                <li><a href="javascript:void(0)" class="book-list children-book" data-target="productBook">Children’s books</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main-menu-area-end -->

    <!-- mobile-menu-area-start -->
    <div class="mobile-menu-area d-lg-none d-block fix">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mobile-menu">
                        <nav id="mobile-menu-active" style="display: block;">
                            <ul id="nav">
                                <li><a href="{% url 'book_browsing:home' %}">Home</a>
                                    <ul>
                                        <li><a href="{% url 'book_browsing:about' %}">About Us</a></li>
                                        <li><a href="{% url 'book_browsing:contact' %}">Contact Us</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'book_browsing:book' %}">Book</a></li>
                                <li><a href="javascript:void(0)" class="book-list audio-books" id="book" data-target="productBook">Audio books</a></li>
                                <li><a href="javascript:void(0)" class="book-list children-book" data-target="productBook">Children’s books</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-menu-area-end -->
</header>