<header>
    <!-- header-top-area-start -->
{#    <div class="header-top-area">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-6 col-md-6 col-12">#}
{##}
{#                </div>#}
{#                <div class="col-lg-6 col-md-6 col-12">#}
{#                    <div class="account-area text-right">#}
{#                        <ul>#}
{#                            <li><a href="{% url 'accounts:profiles' %}">My Account</a></li>#}
{#                            <li><a href="{% url 'shopping_cart:checkout' %}">Checkout</a></li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <!-- header-top-area-end -->

    <!-- header-mid-area-start -->
    <div class="header-mid-area ptb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5 col-12">
                    <div class="header-search">
                        <form action="{% url 'book_browsing:search' %}" method="get">
                            <input type="text" name="q" placeholder="Search entire store here..." value="{{ query }}">
                            <button type="submit" class="search-btn"><i class='fa fa-search'></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4 col-12">
                    <div class="logo-area text-center logo-xs-mrg">
                        <h3>Group 19 Online Book Store</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="my-cart">
                        <ul>
                            <li><a href="javascript:void(0)"><i class="fa fa-shopping-cart"></i>My Cart</a>
                                <span>2</span>
                                <div class="mini-cart-sub">
                                    <div class="cart-product">
                                        {% for book in books_for_order %}
                                        <div class="single-cart">
                                            <div class="cart-img">
                                                <a href="javascript:void(0)"><img src="/static/images/product/{{ book.book.coverImage }}" alt="{{book.book.name}}"></a>
                                            </div>
                                            <div class="cart-info">
                                                <h5><a href="javascript:void(0)">{{book.book.name}}</a></h5>
                                                <p>{{book.quantity}} x ${{ book.book.price }}</p>
                                            </div>
                                            <div class="cart-icon">
                                                <a href="{% url 'shopping_cart:delete_item_from_saved' book.id %}" onclick="return confirm_delete_saved();"><i class="fa fa-remove"></i></a>
                                            </div>
                                        </div>
                                        {% empty %}
                                            <h4>Your cart is empty</h4>
                                        {% endfor %}
                                    </div>
                                    <div class="cart-totals">
                                        <h5>Total <span>{% if user_order.get_cart_total != None %} ${{ user_order.get_cart_total }}{% endif %}</span></h5>
                                    </div>
                                    <div class="cart-bottom">
                                        <a class="view-cart" href="{% url 'shopping_cart:order_summary' %}">view cart</a>
                                        <a href="{% url 'shopping_cart:checkout' %}">Check out</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-mid-area-end -->

    <!-- main-menu-area-start -->
    <div class="main-menu-area d-md-none d-none d-lg-block sticky-header-1" id="header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="menu-area">
                        <nav>
                            <ul>
                                <li class="active"><a href="{% url 'book_browsing:home' %}">Home<i class="fa fa-angle-down"></i></a>
                                    <div class="sub-menu">
                                        <ul>
                                            <li><a href="{% url 'book_browsing:about' %}">About Us</a></li>
                                            <li><a href="{% url 'book_browsing:contact' %}">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="javascript:void(0);">Book</a>
                                    <div class="sub-menu">
                                        <ul>
                                            <li><a href="{% url 'book_browsing:new-release' %}">New Release</a></li>
                                            <li><a href="{% url 'book_browsing:top-sellers' %}">Top Sellers</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="javascript:void(0)" class="book-list" id="book" data-target="productBook">Search by Genre</a>
                                    <div class="sub-menu">
                                        <ul>
                                            <li><a href="{% url 'book_browsing:fantacy' %}">Fantacy</a></li>
                                            <li><a href="{% url 'book_browsing:romance' %}">Romance</a></li>
                                            <li><a href="{% url 'book_browsing:fiction' %}">Fiction</a></li>
                                            <li><a href="{% url 'book_browsing:history' %}">History</a></li>
                                            <li><a href="{% url 'book_browsing:thriller' %}">Thriller</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="javascript:void(0)" class="book-list audio-books" id="book" data-target="productBook">Audio books</a></li>
                                <li><a href="javascript:void(0)" class="book-list children-book" data-target="productBook">Children’s books</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main-menu-area-end -->

    <!-- mobile-menu-area-start -->
    <div class="mobile-menu-area d-lg-none d-block fix">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mobile-menu">
                        <nav id="mobile-menu-active" style="display: block;">
                            <ul id="nav">
                                <li><a href="{% url 'book_browsing:home' %}">Home</a>
                                    <ul>
                                        <li><a href="{% url 'book_browsing:about' %}">About Us</a></li>
                                        <li><a href="{% url 'book_browsing:contact' %}">Contact Us</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'book_browsing:book' %}">Book</a></li>
                                <li><a href="javascript:void(0)" class="book-list audio-books" id="book" data-target="productBook">Audio books</a></li>
                                <li><a href="javascript:void(0)" class="book-list children-book" data-target="productBook">Children’s books</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-menu-area-end -->
</header>