{% extends 'layout/default.html' %}

{% block content %}

{% include "elements/website/breadcrumb.html" %}

<div class="blog-main-area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-12 order-lg-1 order-2 mt-sm-50">
                <div class="single-blog mb-50">
                    <div class="blog-left-title">
                        <h3>Search</h3>
                    </div>
                    <div class="side-form">
                        <form action="javascript:void(0)">
                            <input type="text" placeholder="Search....">
                            <a href="javascript:void(0)"><i class="fa fa-search"></i></a>
                        </form>
                    </div>
                </div>
                <div class="single-blog mb-50">
                    <div class="blog-left-title">
                        <h3>Categories</h3>
                    </div>
                    <div class="blog-side-menu">
                        <ul>
                            <li><a href="javascript:void(0)">Art & Music (2)</a></li>
                            <li><a href="javascript:void(0)">Biographies (1)</a></li>
                            <li><a href="javascript:void(0)">Business (1) </a></li>
                            <li><a href="javascript:void(0)">Comics (1) </a></li>
                            <li><a href="javascript:void(0)">Children (4) </a></li>
                            <li><a href="javascript:void(0)">Home & Garden (2) </a></li>
                            <li><a href="javascript:void(0)">Medical (2) </a></li>
                        </ul>
                    </div>
                </div>
                <div class="single-blog mb-50">
                    <div class="blog-left-title">
                        <h3>Recent Posts</h3>
                    </div>
                    <div class="blog-side-menu">
                        <ul>
                            <li><a href="javascript:void(0)">Blog image post</a></li>
                            <li><a href="javascript:void(0)">Post with Gallery</a></li>
                            <li><a href="javascript:void(0)">Post with audio</a></li>
                            <li><a href="javascript:void(0)">Post with vedio</a></li>
                            <li><a href="javascript:void(0)">Post with image</a></li>
                        </ul>
                    </div>
                </div>
                <div class="single-blog mb-50">
                    <div class="blog-left-title">
                        <h3>Recent Comments</h3>
                    </div>
                    <div class="blog-side-menu">
                        <ul>
                            <li><a href="javascript:void(0)">admin on Maecenas ultricies</a></li>
                            <li><a href="javascript:void(0)">admin on Tincidunt malesuada</a></li>
                            <li><a href="javascript:void(0)">admin on Rhoncus eleifend</a></li>
                            <li><a href="javascript:void(0)">admin on Quisque fringilla</a></li>
                            <li><a href="javascript:void(0)">admin on Pellentesque posuere</a></li>
                        </ul>
                    </div>
                </div>
                <div class="single-blog mb-50">
                    <div class="blog-left-title">
                        <h3>Archive</h3>
                    </div>
                    <div class="blog-side-menu">
                        <ul>
                            <li><a href="javascript:void(0)"><i class="fa fa-calendar-o"></i>March 2016 (1)</a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-calendar-o"></i>April 2016 (2)</a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-calendar-o"></i>May 2016 (3)</a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-calendar-o"></i>June 2016 (4)</a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-calendar-o"></i>July 2016 (5)</a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-calendar-o"></i>August 2016 (6)</a></li>
                        </ul>
                    </div>
                </div>
                <div class="single-blog mb-50">
                    <div class="blog-left-title">
                        <h3>Blog Archive</h3>
                    </div>
                    <div class="category-menu" id="cate-toggle">
                        <ul>
                            <li><a href="javascript:void(0)">Health & Fitness</a></li>
                            <li><a href="javascript:void(0)">Biographies</a></li>
                            <li><a href="javascript:void(0)">Cooking</a></li>
                            <li><a href="javascript:void(0)">History</a></li>
                            <li><a href="javascript:void(0)">Kids</a></li>
                            <li><a href="javascript:void(0)">Children</a></li>
                            <li><a href="javascript:void(0)">Religion</a></li>
                        </ul>
                    </div>
                </div>
                <div class="single-blog">
                    <div class="blog-left-title">
                        <h3>Tags</h3>
                    </div>
                    <div class="blog-tag">
                        <ul>
                            <li><a href="javascript:void(0)">Kids</a></li>
                            <li><a href="javascript:void(0)">Horror</a></li>
                            <li><a href="javascript:void(0)">Religion</a></li>
                            <li><a href="javascript:void(0)">Westerns</a></li>
                            <li><a href="javascript:void(0)">Teen</a></li>
                            <li><a href="javascript:void(0)">Sports</a></li>
                            <li><a href="javascript:void(0)">Travel</a></li>
                            <li><a href="javascript:void(0)">History</a></li>
                            <li><a href="javascript:void(0)">Entertainment</a></li>
                            <li><a href="javascript:void(0)">Cooking</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-12 col-12 order-lg-2 order-1">
                <div class="blog-main-wrapper">
                    <div class="author-details mb-30">
                        <div class="author-left">
                            <div class="author-img">
                                <a href="javascript:void(0)"><img src="/static/images/author/1.jpg" alt="man"></a>
                            </div>
                            <div class="author-description">
                                <p>Posted by:
                                    <a href="javascript:void(0)"><span>Admin</span>in</a>
                                    <a href="javascript:void(0)">Fashion,</a>
                                    <a href="javascript:void(0)">Fashion,</a>
                                    <a href="javascript:void(0)">Fashion,</a>
                                </p>
                                <span>May 15 2017</span>
                            </div>
                        </div>
                        <div class="author-right">
                            <span>Share this:</span>
                            <ul>
                                <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-img mb-30">
                        <img src="/static/images/blog/1.jpg" alt="blog">
                    </div>
                    <div class="single-blog-content">
                        <div class="single-blog-title">
                            <h3>Blog image post</h3>
                        </div>
                        <div class="blog-single-content">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
                                praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum</p>
                            <blockquote class="blockstyle">claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim. laoreet
                                dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim.</p>
                            <p>dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim. laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim.</p>
                        </div>
                    </div>
                    <div class="comment-tag">
                        <p>03 Comments/Tags: Asian, t-shirt, teen </p>
                    </div>
                    <div class="sharing-post mt-20">
                        <div class="share-text">
                            <span>Share this post</span>
                        </div>
                        <div class="share-icon">
                            <ul>
                                <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="comment-title-wrap mt-30">
                        <h3>03 Comments</h3>
                    </div>
                    <div class="comment-reply-wrap mt-50">
                        <ul>
                            <li>
                                <div class="public-comment">
                                    <div class="comment-img">
                                        <a href="javascript:void(0)"><img src="/static/images/author/2.jpg" alt="man"></a>
                                    </div>
                                    <div class="public-text">
                                        <div class="single-comm-top">
                                            <a href="javascript:void(0)">Scott Salwolke</a>
                                            <p>March 08, 2017 at 1:38 am <a href="javascript:void(0)">Reply</a></p>
                                        </div>
                                        <p>Thanks Marcus for the suggestions. I hadn't given much thought in how to craft my own blog entries in order to encourage responses. Yet, the goal is to generate followers and develop interactions so this makes perfect sense. I'll definitely incorporate some of these suggestions into my future writings.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="public-comment public-comment-2">
                                    <div class="comment-img">
                                        <a href="javascript:void(0)"><img src="/static/images/author/3.jpg" alt="man"></a>
                                    </div>
                                    <div class="public-text">
                                        <div class="single-comm-top">
                                            <a href="javascript:void(0)">Scott Salwolke</a>
                                            <p>March 08, 2017 at 1:38 am <a href="javascript:void(0)">Reply</a></p>
                                        </div>
                                        <p>Thanks Marcus for the suggestions. I hadn't given much thought in how to craft my own blog entries in order to encourage responses. Yet, the goal is to generate followers and develop interactions so this makes perfect sense. I'll definitely incorporate some of these suggestions into my future writings.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="public-comment public-comment-2">
                                    <div class="comment-img">
                                        <a href="javascript:void(0)"><img src="/static/images/author/4.jpg" alt="man"></a>
                                    </div>
                                    <div class="public-text">
                                        <div class="single-comm-top">
                                            <a href="javascript:void(0)">Scott Salwolke</a>
                                            <p>March 08, 2017 at 1:38 am <a href="javascript:void(0)">Reply</a></p>
                                        </div>
                                        <p>Thanks Marcus for the suggestions. I hadn't given much thought in how to craft my own blog entries in order to encourage responses. Yet, the goal is to generate followers and develop interactions so this makes perfect sense. I'll definitely incorporate some of these suggestions into my future writings.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="comment-title-wrap mt-30">
                        <h3>Leave a comment </h3>
                    </div>
                    <div class="comment-input mt-40">
                        <p>We will not publish your email address. Required fields are marked*</p>
                        <div class="comment-input-textarea mb-30">
                            <form action="javascript:void(0)">
                                <label>Comment</label>
                                <textarea name="massage" cols="30" rows="10" placeholder="Write your comment here"></textarea>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="single-comment-input mb-30">
                                    <form action="javascript:void(0)">
                                        <label>Name*</label>
                                        <input type="text" placeholder="Name">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="single-comment-input mb-30">
                                    <form action="javascript:void(0)">
                                        <label>Email*</label>
                                        <input type="text" placeholder="Email">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="single-comment-input mb-30">
                                    <form action="javascript:void(0)">
                                        <label>Web</label>
                                        <input type="text" placeholder="Put your web address">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-post-button">
                        <a href="javascript:void(0)">Post Comment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}